.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
h1 {
    font-size: 1.9rem;
    font-weight: 500;
}
h2{
    font-size: 1.7rem;
    font-weight: 400;
}
h3 {
    font-size: 1.4rem;
    font-weight: 400;
}
.underline-animation{
   display: inline-block;
   position: relative;
}
.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9c9c9c;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
